<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Success</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-image: url('https://img.freepik.com/premium-photo/basket-with-gift-boxes-generative-ai-illustrator_438099-25361.jpg?w=2000');
      background-size: cover;
      background-position: center;
      height: 100vh;
    }

    .container {
      text-align: center;
      padding-top: 12vh; /* Adjust vertical padding */
    }

    h1 {
      color: #eeedee; /* Purple color */
    }

    .success {
      color: #f5f4f5; /* Pink color */
      margin-bottom: 20px; /* Add space below */
    }

    .button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #4169e1; /* Blue color */
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
    }

    .button:hover {
      background-color: #6495ed; /* Light blue color on hover */
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Product added successfully!</h1>
    <p class="success">Details:</p>
    <a href="/products" class="button">View Product Details</a>
  </div>
</body>
</html>
